spring:
  cloud:
    loadbalancer:
      cache:
        enabled: false
    discovery:
      enabled: true
    config:
      enabled: true
      fail-fast: true

eureka:
  client:
    fetch-registry: true
    service-url:
      defaultZone: http://admin:secret@localhost:8761/eureka/

logging:
  pattern:
    console: "%d{HH:mm} %highlight(%level) %msg%n"