server:
  port: 8093

spring:
  application:
    name: prescription-service
  datasource:
    url: jdbc:h2:mem:prescriptiondb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
